/***** Template ****/
* {
    font-family: 'Merriweather', Arial, sans-serif;
    letter-spacing: .1rem;
}

html {
    margin-top: 0px;
    padding-top: 0;
    border-top: 1px solid #4F8EF7;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

body {
    padding: 0;
}

.title {
    color: rgb(34, 34, 34);
    display: block;
    font-size: 30px;
    font-weight: 300;
    height: 32px;
    letter-spacing: .1rem;
    line-height: 52.5px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

.plugin ::-webkit-scrollbar {
    width: 5px;
}

.plugin ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

.plugin ::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

.plugin ::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

.plugin ::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

.centered {
    margin: 0 auto;
}

@media (min-width: 1080px) {
    #plugins {
        float: none;
        margin: 0 auto;
        clear: both;
    }
}

@media (max-width: 1079px) {
    #plugins {
        float: none;
        margin: 0 auto;
        clear: both;
    }
}

/***** Plugins Container ****/
#plugins {
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
    border: 1px;
}

/***** Plugin ****/
.plugin {
    float: left;
    padding: 0;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .53), 0 3px 10px rgba(0, 0, 0, .16);
    margin-top: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .plugin {
        max-width: 80%;
        float: none;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .plugin-body {
        max-height: 400px;
    }
}

.plugin .top-bar {
    height: 25px;
    max-width: 100%;
    padding: 20px;
    letter-spacing: .1rem;
    line-height: 1.3rem;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #009587;
    text-align: center;
}

.plugin .no-padding {
    padding: 0px;
}

.plugin-body {
    height: 550px;
    font-size: 12px;
    padding: 10px;
    line-height: 30px;
    overflow: auto;
    border-top: 1px solid #ececec;
}

.plugin last-update {
    font-size: 11px;
    float: left;
}

no-data {
    font-style: italic;
}

refresh-btn button {
    background-color: #009587;
    border: 0;
    float: right;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .5);
}

refresh-btn button:hover {
    background-color: #ffeb3b;
    color: black;
}

refresh-btn button:active {
    background-color: #0f9d58;
}

/**** Loader ****/
.spinner {
    margin: 100px auto 0;
    width: 150px;
    text-align: center;
}

.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #67CF22;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/**** General Elements ****/
table {
    font-size: 10px;
    margin: 0;
    min-width: 400px;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

table th,
table td {
    padding: 5px;
    max-width: 250px;
    word-wrap: break-word;
}

table th {
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #f1f1f1;
}

table td {
    border-bottom: 1px solid #f1f1f1;
    padding: 9px 8px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, .65);
}

table tbody tr:hover td {
    background-color: #fafafa;
}

table.metrics-table {
    text-align: center;
}

canvas {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

/*********************************************
    Widget Elements
*********************************************/
.progress-bar {
    background-color: #eec;
    border-radius: 10px; /* (height of inner div) / 2 + padding */
    padding: 0px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.progress-bar > div {
    background-color: #1EAEDB;
    width: 0%;
    height: 5px;
    border-radius: 5px;
}

.table-data-plugin .filter-container {
    padding-bottom: 0;
    margin: 0;
}

.table-data-plugin .filter,
.table-data-plugin .filter:focus,
.table-data-plugin .filter:active {
    height: 20px;
    padding: 5px;
    margin: 5px;
    border: none;
    outline-color: transparent;
    background: transparent;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.table-data-plugin .filter:focus {
    border-bottom: 1px solid #ff5722;
}

.table-data-plugin thead tr th a,
.table-data-plugin thead tr th a:visited {
    color: black;
    text-decoration: none;
}

.table-data-plugin .column-sort-caret {
    font-size: 10px;
    color: #1EAEDB;
}

/*
 * Popover
 * http://codepen.io/derekpcollins/pen/JCLhG/
 */

/* The element to hover over */
.qs {
    cursor: default;
    display: inline-block;
    position: relative;
}

.qs .popover {
    text-transform: none;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    padding: 7px 10px;
    position: absolute;
    left: -80px;
    width: 200px;
    z-index: 4;
}

.qs .popover:before {
    border-top: 7px solid rgba(0, 0, 0, 0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}

.qs:hover .popover {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}

@-moz-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}

@-ms-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}

/* spline chart css*/

/*.btn-monitor {*/
    /*background: #eee;*/
    /*color: #777;*/
    /*margin: 0;*/
    /*border-bottom: 1px solid #ddd;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*padding: 5px 12px;*/
    /*font-size: 12px;*/
/*}*/

/*.btn-monitor .selected {*/
    /*background: #1f90c8;*/
    /*color: #fff;*/
/*}*/

/*.chart-title {*/
    /*text-align: center;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 5px;*/
    /*line-height: 30px;*/
/*}*/

/*.chart-title .chart-label {*/
    /*float: right;*/
    /*margin-left: 10px;*/
    /*display: inline;*/
    /*font-size: 12px;*/
    /*color: #777;*/
/*}*/