<div class="plugin">
    <top-bar heading="heading" last-updated="lastGet" no-refresh-btn></top-bar>

    <div class="plugin-body no-padding">
        <div class="title">
            <div class="btn-group">
                <button class="btn btn-monitor" ng-click="onemin()"
                        ng-class="{true: 'selected'}[isOne]">1
                    min</button>
                <button class="btn btn-monitor" ng-click="fivemin()"
                        ng-class="{true: 'selected'}[isFive]">5
                    min</button>
                <button class="btn btn-monitor" ng-click="thirtymin()"
                        ng-class="{true: 'selected'}[isThirty]">30
                    min</button>
                <button class="btn btn-monitor" ng-click="oneday()"
                        ng-class="{true: 'selected'}[isDay]">1
                    day</button>
            </div>
        </div>

        <div id="load" collection-name="collectionName"
                       unit="unit"></div>
    </div>
</div>

</plugin>